.inline-list-item {
    display: inline;
    border: 1px solid black;
    padding: 10px 0px 10px 0px;
    margin-right: 20px;

    box-shadow: 0 5px 10px 0 darkviolet;
}

.header-links {
    padding: 10px 30px 10px 30px;
    color: darkviolet;
}

a {
    color: darkmagenta;
}

h1 {
    color: blueviolet;
}

h2 {
    color: darkviolet;
}

ul {
    margin-top: 30px;
    margin-bottom: 40px;
}

table {
    border: 1px solid black;
    padding: 2px 3px 2px 3px;
    background-color: orange;

    box-shadow: 0 5px 10px 0 darkviolet;
}

th {
    border: 1px solid black;
    padding: 8px;
    background-color: antiquewhite;
    color: darkviolet;
}

td {
    border: 1px solid black;
    padding: 4px;
    background-color: antiquewhite
}

.center {
    text-align: center;
}

body {
    background-color: antiquewhite;
    padding: 10px
}