{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <title>Projects</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="inline-list-item">
                            <a class="header-links" href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li class="inline-list-item">
                            <a class="header-links" href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li class="inline-list-item">
                            <a class="header-links" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="inline-list-item">
                            <a class="header-links" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="inline-list-item">
                            <a class="header-links" href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>